Repository saminfante/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @bsclifton, @kylehickinson, @mihaiplesa, @NejcZdovc, @tmancey, @gdregalo, @iefremov, @simonhong, @fmarier

Improvments
  components/brave_rewards/resources/internals/components/app.tsx
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/ledger_impl.cc
Owners: @NejcZdovc

Fixes contribution queue check
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.cc
  vendor/bat-native-ledger/src/bat/ledger/internal/contribution/contribution.h
Owners: @NejcZdovc

Updates copy for monthly flows
  browser/ui/webui/brave_webui_source.cc
  components/brave_rewards/resources/extension/brave_rewards/_locales/en_US/messages.json
  components/brave_rewards/resources/ui/components/siteBanner/index.tsx
  components/resources/brave_components_strings.grd
Owners: @NejcZdovc

Ads History should be displayed in reverse chronological order
  browser/ui/webui/brave_rewards_page_ui.cc
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
  components/brave_rewards/resources/page/components/adsBox.tsx
  components/definitions/rewards.d.ts
  components/services/bat_ads/bat_ads_impl.cc
  components/services/bat_ads/public/interfaces/bat_ads.mojom
  test/BUILD.gn
  vendor/bat-native-ads/BUILD.gn
  vendor/bat-native-ads/include/bat/ads/ad_history.h
  vendor/bat-native-ads/include/bat/ads/ads.h
  vendor/bat-native-ads/include/bat/ads/ads_history.h
  vendor/bat-native-ads/src/bat/ads/ad_history.cc
  vendor/bat-native-ads/src/bat/ads/ads_history.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.cc
  vendor/bat-native-ads/src/bat/ads/internal/ads_impl.h
  vendor/bat-native-ads/src/bat/ads/internal/client.cc
  vendor/bat-native-ads/src/bat/ads/internal/client.h
  vendor/bat-native-ads/src/bat/ads/internal/client_mock.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.cc
  vendor/bat-native-ads/src/bat/ads/internal/client_state.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ad_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ad_history_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_confirmation_filter_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_filter.h
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_filter_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/filters/ads_history_filter_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/json_helper.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_ascending_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_ascending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_descending_sort.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_descending_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_sort.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_sort_factory.cc
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_sort_factory.h
  vendor/bat-native-ads/src/bat/ads/internal/sorts/ads_history_sort_unittest.cc
  vendor/bat-native-ads/src/bat/ads/internal/static_values.h
Owners: @gdregalo, @tmancey, @NejcZdovc

add play function that opens local URL
  browser/extensions/api/brave_playlists_api.cc
  browser/extensions/api/brave_playlists_api.h
  common/extensions/api/brave_playlists.json
  components/definitions/chromel.d.ts
  components/playlists/browser/playlists_controller.cc
  components/playlists/browser/playlists_controller.h
  components/playlists/browser/playlists_media_file_controller.cc
  components/playlists/browser/playlists_media_file_controller.h
Owners: none

Update patches from Chromium 79.0.3945.56 to Chromium 80.0.3983.2
  patches/chrome-VERSION.patch
Owners: @bridiver

Follow up to #6684 - Alignment issue for `Token grants claimed` in BR panel
  components/brave_rewards/resources/ui/components/listToken/style.ts
Owners: @NejcZdovc

Cap number of ads allowed in notification tray
  chromium_src/chrome/browser/notifications/notification_platform_bridge_android.cc
  components/brave_ads/browser/BUILD.gn
  components/brave_ads/browser/ads_notification_handler.cc
  components/brave_ads/browser/ads_notification_handler.h
  components/brave_ads/browser/ads_service_impl.cc
  components/brave_ads/browser/ads_service_impl.h
Owners: @bridiver, @tmancey

move back front-end logic to chrome://adblock
  common/extensions/api/_api_features.json
  components/brave_adblock_ui/components/app.tsx
  components/brave_extension/extension/brave_extension/containers/braveShields.tsx
Owners: none

Refactor InfoBar view classes
  browser/brave_wayback_machine/brave_wayback_machine_infobar_delegate.h
  browser/brave_wayback_machine/brave_wayback_machine_tab_helper.cc
  browser/brave_wayback_machine/brave_wayback_machine_tab_helper.h
  browser/brave_wayback_machine/brave_wayback_machine_util.h
  browser/resources/settings/BUILD.gn
  browser/ui/BUILD.gn
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_contents_view.h
  browser/ui/views/infobars/brave_wayback_machine_infobar_view.cc
  browser/ui/views/infobars/brave_wayback_machine_infobar_view.h
  test/BUILD.gn
Owners: @simonhong

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package.json
Owners: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package-lock.json
Owners: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  .snyk
Owners: none

.github/CODEOWNERS:

patches/ @bridiver
chromium_src/ @bridiver
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa

# Rewards
vendor/bat-native-ledger/ @NejcZdovc
components/brave_rewards/ @NejcZdovc
components/services/bat_ledger/ @NejcZdovc
browser/ui/webui/brave_rewards_ui.h @NejcZdovc
browser/ui/webui/brave_rewards_ui.cc @NejcZdovc

# Ads
vendor/bat-native-ads/ @tmancey
vendor/bat-native-confirmations/ @tmancey
components/brave_ads/ @tmancey
components/services/bat_ads/ @tmancey

# Rewards and Ads Android related. Most likely should go away when we have
# tests running on Android brave-core based.
browser/ui/webui/brave_rewards_page_ui.cc @gdregalo
components/brave_rewards/browser/rewards_notification_service.h @gdregalo
components/brave_rewards/browser/rewards_service.h @gdregalo
vendor/bat-native-ads/src/bat/ads/internal/static_values.h @gdregalo
vendor/bat-native-ledger/include/bat/ledger/public/interfaces/ledger.mojom @gdregalo
vendor/bat-native-ledger/src/bat/ledger/internal/static_values.h @gdregalo

# Network
browser/net/ @iefremov

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/brave_wayback_machine @simonhong
browser/ui/views/infobars @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
components/brave_new_tab_ui/data/backgrounds.ts @fmarier
components/third_party/ @fmarier
script/brave_license_helper.py @fmarier
